{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
          "files": "*.js",
          "options": {
            "tabWidth": 2
          }
        }
    ]
  }